<div id="game-root"
     class="h-full flex flex-col bg-gray-900 p-2 sm:p-4 space-y-2 sm:space-y-4 overflow-hidden">
  <!-- Score Panel -->
  {% include "score.html" %}
  <!-- New Game Panel -->
  {% include "new_game.html" %}
  {% if game.status != "playing" %}
    {% include "win_lose.html" %}
    <div class="pointer-events-none opacity-40">
    {% endif %}
    <!-- Guess History (grows upwards) -->
    {% include "guesses.html" %}
    <!-- Current Guess Input Row -->
    {% include "input.html" %}
    <!-- Color Palette / Legend -->
    {% include "colors.html" %}
    <!-- Keyboard -->
    {% include "keyboard.html" %}
    {% if game.status != "playing" %}
    </div>
  {% endif %}
</div>
