<div id="guess_list"
     class="flex flex-col-reverse space-y-reverse space-y-2 overflow-y-auto max-h-[50vh] scroll-smooth scrollbar-thin">
  {% for guess in guesses %}
    <div class="flex items-center justify-between w-full max-w-md mx-auto">
      <!-- Guess Tiles -->
      <div class="grid grid-cols-5 gap-2">
        {% for letter in guess.letters %}
          <div id="guess_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}"
               hx-target="#guess_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}"
               hx-swap="outerHTML"
               hx-trigger="click"
               hx-get="/guess_letter_clicked"
               hx-vals='{"letter": "{{ letter.char }}"}'
               class="guess highlight-{{ letter.color }}">
            {{ letter.char }}
          </div>
        {% endfor %}
      </div>
      <!-- Evaluation Boxes -->
      <div class="grid grid-cols-2 gap-2">
        <div class="eval highlight-green">
          {{ guess.eval.green }}
        </div>
        <div class="eval highlight-yellow">
          {{ guess.eval.yellow }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
